/* Site Stylesheet
  1. Global Styles
  2. Typography Styles
  3. Structure Styles
  4. Module Styles
  5. Component Styles
  6. Page Styles
======================================== */

/* 1. Global Styles
======================================== */
* {
    box-sizing: border-box;
    z-index: 1;
}

html {
}

body {
  margin: 0;
  padding: 0;
}


/* 2. Typography Styles
======================================== */

ul {
    padding: 0;
    margin: 0;
  }

  li {
      list-style: none;
  }

  a {
    list-style: none;
  }

  .page-hero-header a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
/* 3. Structure Styles
======================================== */

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 15px;
}
.container:before, .container:after {
  content: " ";
  display: table;
  clear: both;
}

/* 4. Module Styles
======================================== */

  
  /* Site Navigation */

  .site-header {
      
      position: fixed;
      top:0;
      z-index: 90;
      padding: 15px 30px;
      width: 100%;

      background-color:#FFFFFF;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      border-bottom-right-radius : 50px;
      transition: top 1s;
  }

  .site-header a {
    
    list-style: none;
  }


  .site-navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }


  .site-header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 4rem;
    list-style: none;
    
  }
 
  .site-header-left li {
      color: #0D9DDA; 
      font-family: Dongle ;
      font-size: 2rem;
      line-height: 0;
      
  }

  .site-header-right ul {
      display: flex;
  }

  .site-header-left a {
    text-decoration: none;
    color: #0D9DDA;
  }

  .site-header-right li {
  }

  

  .site-header-right li a {
    display: block;
    text-decoration: underline palevioletred;
    color:#0D9DDA;
    border-radius: 30px;
    padding: 0.5rem;
    font-family: Dongle;
    font-size: 23px;
  }

  .site-header-right li:hover {
      opacity: 0.75;

}

  .toggle-button {
        position: absolute;
        top: 30%;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;

  }

  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #0D9DDA;
    border-radius: 10px;
}


  @media (max-width: 650px) {

    .site-header-left {
      margin: 0 auto;
    }
    .toggle-button {
        display: flex;
    }

    .site-header-right {
        display: none; 
        width: 100%;
    }

    .site-navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .site-header-right ul {
        flex-direction: column;
        width: 100%;
    }

    .site-header-right li {
        text-align: center;
    }

    .site-header-right li a {
        padding: .5rem 1rem;
    }

    .site-header-right.active {
        display: flex;
        margin-top: 0.75rem;
    }
}


/* 5. Component Styles
======================================== */

button {
  border: none;
}
button:hover {
  cursor: pointer;
}
.button {
  border-radius: 100px;
  display: inline-block;
  font-family: 'Barlow', Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: normal;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  transition: opacity 0.5s ease;
}
.button:hover {
  opacity: 0.75;
}
.button-primary {
  background-color: #0D9DDA;
  color: #FFFFFF;
}
.button-secondary {
  background-color: #0D9DDA;
  color: #FFFFFF;
}

/* 6. Page Styles
======================================== */

   /* bis Hero Header
======================================== */

.page-hero-header {
    display: flex;
    background-color: #0D9DDA;
    
    background-image: linear-gradient(to bottom, rgba(255,128,255,0.5), rgba(0,0,128,0.5)), url('../images/hero-bkg.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    height: 58rem;
    margin: 0 10px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:20px;
    
    background-position: 76% 50%;
    overflow: hidden;
}

.page-hero-header .hero-container {
  margin: 0 10px;
  padding-top: 10rem;
}

.page-hero-header-left {

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;


    width: 100%;
    background-color: white;
    border-radius: 30px;
    padding: 0.5rem;
    margin: 4rem;
}

.hero-cta {
  font-family: Dongle;
  font-size: 2rem;
  color: #0D9DDA;

  display: inline-block;
  text-align: center;
  width: 100%;
}

#page-hero-title {
  margin: 0
}
#button-cta {
  margin-bottom: 1rem;
  color: white
}

.page-hero-header-right {

}

/* bis Benefits
======================================== */

.main-content-benefits {

  padding: 0 9vw;
  margin: 8rem 0;
}

.benefits-container {

  
  display: flex;
  
  flex-flow: row wrap;
  justify-content: space-between;

}

.benefits-container .benefit-header {
  text-align: center;
  text-decoration: underline palevioletred;
  width: 100%;
  font-size: 3rem;
  color: #0D9DDA;
  font-family: Dongle;
  margin: 2rem 0;
}

.benefits-container .benefit-content {
  flex: 0 1 242px;
  
  margin-left: -22px;
  padding-right: 10px;
  overflow: hidden;
  text-align: center;
  font-size: 1.2rem;
  margin:0 auto;
  padding-bottom: 4vh;
}
.benefits-container .benefit-content img {
  max-width: 100%;
  height: auto;
}

.benefits-container .benefit1 {

}

.benefits-container .benefit2 {
  
}

.benefits-container .benefit3 {
  
}



.benefits-container a {
  color:gray;
  text-decoration: none;
}

.benefits-container .benef-img:hover{
  opacity: 0.75;
}

.benefits-container button:hover {
  opacity: 0.75;
}



/* bis Footer Stylisé
======================================== */

.test-codepen {
  padding-top: 20rem;
}








/* bis Footer Stylisé
======================================== */


.new_footer_area {
  background: #fbfbfd;
}

.new_footer_top .row {
  display: flex;
  justify-content: space-around;
}


.new_footer_top {
  padding: 120px 0px 270px;
  position: relative;
    overflow-x: hidden;
}
.new_footer_area .footer_bottom {
  padding-top: 5px;
  padding-bottom: 50px;
}
.footer_bottom {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #7f88a6;
  padding: 27px 0px;
}
.new_footer_top .company_widget p {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  color: #6a7695;
  margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
  border-width: 1px;
  margin-top: 20px;
}
.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}
.btn_get:hover {
  color: #fff;
  background: #6754e2;
  border-color: #6754e2;
  -webkit-box-shadow: none;
  box-shadow: none;
}
a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
  text-decoration: none;
  outline: none;
}



.new_footer_top .f_widget.about-widget .f_list li a:hover {
  color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
  margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
  margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
  margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
  margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
  width: 44px;
  height: 44px;
  line-height: 43px;
  background: transparent;
  border: 1px solid #e2e2eb;
  font-size: 24px;
}
.f_social_icon a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.ti-facebook:before {
  content: "\e741";
}
.ti-twitter-alt:before {
  content: "\e74b";
}
.ti-vimeo-alt:before {
  content: "\e74a";
}
.ti-pinterest:before {
  content: "\e731";
}

.btn_get_two {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #5e2ced;
  border-color: #5e2ced;
  color: #fff;
}

.btn_get_two:hover {
  background: transparent;
  color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
  background: #5e2ced;
  border-color: #5e2ced;
color:white;
}
.new_footer_top .f_social_icon a + a {
  margin-left: 4px;
}
.new_footer_top .f-title {
  margin-bottom: 30px;
  color: #263b5e;
}
.f_600 {
  font-weight: 600;
}
.f_size_18 {
  font-size: 18px;
}
h1, h3, h4, h5, h6 {
  color: #4b505e;
}
.new_footer_top .f_widget.about-widget .f_list li a {
  color: #6a7695;
}


.new_footer_top .footer_bg {
  position: absolute;
  bottom: 0;
  background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
  width: 100%;
  height: 266px;
}

.new_footer_top .footer_bg .footer_bg_one {
  background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
  width: 330px;
  height: 105px;
background-size:100%;
  position: absolute;
  bottom: 0;
  left: 30%;
  -webkit-animation: myfirst 22s linear infinite;
  animation: myfirst 22s linear infinite;
}

.new_footer_top .footer_bg .footer_bg_two {
  background: url("https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif") no-repeat center center;
  width: 88px;
  height: 100px;
background-size:100%;
  bottom: 0;
  left: 38%;
  position: absolute;
  -webkit-animation: myfirst 30s linear infinite;
  animation: myfirst 30s linear infinite;
}



@-moz-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@-webkit-keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

@keyframes myfirst {
0% {
  left: -25%;
}
100% {
  left: 100%;
}
}

/*************footer End*****************/

